
.colorminiR{
    color: blueviolet;
    font-size: xx-small;
    text-align: right;
}

/* El nombre de la clase debe ser diciente de lo que hace, el . indica la creación de la clase */

.colorminiU{
    color: red;
    font-size: larger;
    text-decoration: underline;
}

.colorCenterU{
    color: yellow;
    font-size: medium;
    text-decoration: underline;
}

.title{
    text-align: right;
    color:burlywood;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    color: yellowgreen;
    font-style: italic;
    font-size: larger;
}

h2#algo{
    text-align: right;
    color:burlywood;
}