@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;0,700;1,500&display=swap');

/*Reiniciamos los estilos para evitar que los default de cada navegador interfieran 
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} /*Es una buena practica */

body{
    font-family: 'Muli', sans-serif;
}

.titulo{
    margin: 20px auto;
}

.titulo h1{
    color: white;
    text-align: left;
    text-shadow: 0px 0px 10px #ff0000;
    font-size: 40px;
    font-family: 'Fredoka One', cursive;
}

.titulo img{
    width: 150px;

}

.contenido{
    width: 1000px;
    margin: 30px auto;
}

.contenido h2{
    color: white;
    text-align: left;
    text-shadow: 0px 0px 10px #000000;
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
}

.personaje{
    width: 800px;
    background:linear-gradient(#F9A9FB,#F9D3FA);
    margin: 20px 0px;
    padding: 30px 30px;
    box-shadow:  3px 3px 7px #999999;
    font-family: 'Muli', sans-serif;
}

.personaje img{
    width: 150px;
    border: 7px solid #fff;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.boton{
    width: 120px;
    background-color: blue;
    padding: 20px 20px;
    border-radius: 10px;
}

.boton a{
    color: #fff;
}

.boton:hover{
    background-color: #ff0000;
    transition-property: background-color;
    transition-duration: 3s;
    transition-timing-function:cubic-bezier(1, 0, 0, 1);
    transition-delay: 1s;
}
/* Caja foto */
.cajaprincipal{
    width: 270px;
    height: 350px;
    background-color: black;
    color: white;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0px 0px 20px black;
    overflow: hidden;
}

.encabezado{
    background-color: white;
    color: #000000;
    font-family: 'Fredoka One', cursive;
    padding: 20px 0px;
}

/* Caja info */
.cajaperfi:hover{
    width: 540px;
    transform: translateX(-270px);
    transition: transform 2s linear 1s;
}

.foto, .datos{
    width: 270px;
    text-align: center;
    margin: 20px 0px;
    float:left;
}