h1{
    color: #7fbec5;
    text-align: center;
}

h3{
    color: #7fbec5;
    text-align: center;
}

h4{
    color: #7fbec5;
    text-align: left;
}



image{
    align-content: center;
}

/* 
Esto es para poner la imagen en el centro y el texto al lado

*/ 

table{
    align-content: center;
    border: 4px solid black; /* Podemos darle varias propiedades de esta forma */
    background-color: beige;
    border-collapse: collapse;
    size: 400px;
}

th{
    background-color: green;
    color: white;
    border: 4px solid black;
}

td{
    text-align: left;
    border: 4px solid black;

}

ul{
    font-size: 24px;
    font-weight: 700;
    color:#7fbec5;
    list-style-image: url(../bxs-ghost.svg);
    height: min-content;
}

/* Si la foto es muy grande usamos una más corta, 
ya que no debe romper el espacio entre lineas 
para solucionarlo la redimensionamos. Usando páginas en linea, atributos de la imagen o paint.
*/

a:link{
    color: blue;
    font-weight: bold;
    }
    a:visited{
    color: #B76AFF;
    font-weight: bold;
    }
    a:hover{
    color: #48d5e7;
    font-weight: bold;
    }