<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Datos Básicos</h1>
    <form name="Datos Basicos" method="dialog" >  

       <label> Describa su perfil </label> <input type="text" id="nombre" name="nombre"> 
       <br>
       <label>Tipo de Identificación</label>
       <input type="options">
       <br>
       <label>número de Identificación</label> <input type="number">
       <br>
       <label>Apellido</label> <input type="text">
       <br>
       <label>Nombres</label> <input type="text">
       <br>
    </form>
</body>
</html>