<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2">
        <caption>Horario semanal</caption>
        <tr> 
            <th > Hora </th>  <th>Lunes</th> <th>Martes</th> <th>Miercoles</th> <th>Jueves</th> <th>Viernes</th>
        </tr>
        <tr> 
            <td> 5:00 am </td> <td>Estiramiento y Alistarse</td>  <th colspan="4" rowspan="2">Gym</th>
        </tr>
        <tr> 
            <td> 6:00 am </td>  <td> <b>Transporte</b> </td> 
        </tr>
        <tr> 
            <td> 7:00 am </td> <td rowspan="3">Capstone </td> <th colspan="4" >Desayuno</th>
        </tr>
        <tr> 
            <td> 8:00 am </td> <th colspan="4" >Estiramiento y Alistarse</th> 
        </tr>
        <tr> 
            <td> 9:00 am </td> <td colspan="2">Ocio </td>  <th>Transporte</th> <td>Ocio </td>
        </tr>
        <tr> 
            <td> 10:00 am </td> <td rowspan="3" > Gym UR</td> <td rowspan="">Tareas</td> <th>Transporte</th> <td>Japones</td> <th>Transporte</th>
        </tr>
        <tr> 
            <td> 11:00 am </td> <td>Almuerzo</td> <td rowspan="2" >Web</td> <td>Libre</td>   <td rowspan="2">Web</td> 
        </tr>
        <tr> 
            <td> 12:00 m </td>  <th>Transporte</th> <td>Almuerzo</td> 
        </tr>
        <tr> 
            <td> 1:00 pm </td> <td><b>Transporte</b></td> <td rowspan="2">Arquitectura</td> <td><b>Transporte</b></td> <td rowspan="2"> Arquitctura </td> <td><b>Transporte</b></td>
        </tr>
        <tr> 
            <td> 2:00 pm </td> <th> Almuerzo</th> <td>Almuerzo</td> <td rowspan="4" >Ocio</td> 
        </tr>
        <tr> 
            <td> 3:00 am </td> <td> Tareas</td>  <td rowspan="2" >Forense</td>  <td rowspan="3"> Tareas</td> <td rowspan="2" >Forense</td>
        </tr>
        <tr> 
            <td> 4:00 pm </td> <td  > Reunion Forense </td> 
        </tr>
        <tr> 
            <td> 5:00 pm </td> <td  > Tareas</td> <td><b>Transporte</b></td> <td ><b>Transporte</b></td> 
        </tr>
        <tr> 
            <td> 6:00 pm </td> <th colspan="5" >Estiramiento y preparación dormir</th>
        </tr>
        <tr> 
            <td> 7:00 pm </td> <th colspan="5"  >Dromir</th>
        </tr>
        
    </table>
    
    <a href="../index.html">Back 2 home</a>

</body>
</html>