<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2">
        <caption>Horario semanal</caption>
        <tr> 
            <th > Hora </th>  <th>Lunes</th> <th>Martes</th> <th>Miercoles</th> <th>Jueves</th> <th>Viernes</th>
        </tr>
        <tr> 
            <td> 5:00 am </td> <th colspan="2" >Desayuno</th>
        </tr>
        <tr> 
            <td> 6:00 am </td> <td  > Reunion</td> <td>Clase</td>
        </tr>
        <tr> 
            <td> 7:00 am </td> <th colspan="2" >Desayuno</th>
        </tr>
        <tr> 
            <td> 8:00 am </td> <td  > Reunion</td> <td>Clase</td>
        </tr>
        <tr> 
            <td> 9:00 am </td> <th colspan="2" >Desayuno</th>
        </tr>
        <tr> 
            <td> 10:00 am </td> <td  > Reunion</td> <td>Clase</td>
        </tr>
        <tr> 
            <td> 11:00 am </td> <th colspan="2" >Desayuno</th>
        </tr>
        <tr> 
            <td> 12:00 m </td> <td  > Reunion</td> <td>Clase</td>
        </tr>
        <tr> 
            <td> 1:00 pm </td> <th colspan="2" >Desayuno</th>
        </tr>
        <tr> 
            <td> 2:00 pm </td> <td  > Reunion</td> <td>Clase</td>
        </tr>
        <tr> 
            <td> 3:00 am </td> <th colspan="2" >Desayuno</th>
        </tr>
        <tr> 
            <td> 4:00 pm </td> <td  > Reunion</td> <td>Clase</td>
        </tr>
        <tr> 
            <td> 5:00 pm </td> <td  > Reunion</td> <td>Clase</td>
        </tr>
        <tr> 
            <td> 6:00 am </td> <th colspan="2" >Desayuno</th>
        </tr>
        <tr> 
            <td> 7:00 pm </td> <td  > Reunion</td> <td>Clase</td>
        </tr>
        
    </table>
    
</body>
</html>