<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="../assets/CSS/idkk.css">

    <h2 id="algo">
        I AM A TITLE!!!!!!!!
    </h2>

    <h2>ANOTHER TITLE BUT I AM DIFFERENT</h2>

    <p class="colorminiR">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam ex aliquam exercitationem vero dignissimos? Numquam sequi porro minus, quam voluptatem aliquam, totam, eligendi unde repellendus quasi eaque maiores quibusdam modi?</p>

    <p class="colorminiU">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam sint quibusdam incidunt animi minus consequatur, magnam ut non exercitationem cum excepturi fugiat suscipit dolores provident deserunt id labore laboriosam nobis!</p>

    <p class="colorCenterU">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, ratione, culpa voluptates nulla doloremque iure, delectus deleniti accusantium quia impedit reiciendis corporis veniam atque natus aut? Soluta, ea? Voluptate, modi!</p>

</body>
</html>