<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta autor=" Guillermo Andrés Ribero Garzón" descripcion="Tabla en HTML5 para un juego de stop el cual será el primer quiz de la materia desarrollo web."
    > 
    <title>Quiz</title>
    <!--Pendiente que acepte char esp-->

    <link rel="icon" href="../assets/images/bxs-file-doc.svg">

    

</head>
<body>
    
    <!--Atributo html en cursiva i y subrayado u, cosas fotos, color el color de la celda-->
    <table border="2">
        <tr style="border: 30px;">
            <th>L</th> <th>Nombre</th> <th>Apellido</th> <th>Cosas</th> <th>Color</th> <th>Lugar</th>  <th> Atributos HTML </th> <th>Total</th>
        </tr>

        <tr>
            <td> </td> <td> </td> <td> </td> <td> <img src="../assets/images/Alekhine.jpeg" width="40"> </td> <td style="background-color: aliceblue;"> </td> <td> </td>  <td> <i> <u> </u> </i> </td> <td> <b> </b> </td>
        </tr>

        <tr>
            <td> </td> <td> </td> <td> </td> <td> <img src="../assets/images/Alekhine.jpeg" width="40"> </td> <td style="background-color: aliceblue;"> </td> <td> </td>  <td> <i> <u> </u> </i> </td> <td> <b> </b> </td>
        </tr>

        <tr>
            <td> </td> <td> </td> <td> </td> <td> <img src="../assets/images/Alekhine.jpeg" width="40"> </td> <td style="background-color: aliceblue;"> </td> <td> </td>  <td> <i> <u> </u> </i> </td> <td> <b> </b> </td>
        </tr>

        <tr>
            <td> </td> <td> </td> <td> </td> <td> <img src="../assets/images/Alekhine.jpeg" width="40"> </td> <td style="background-color: aliceblue;"> </td> <td> </td>  <td> <i> <u> </u> </i> </td> <td> <b> </b> </td>
        </tr>
        <tr>
            <td> </td> <td> </td> <td> </td> <td> <img src="../assets/images/Alekhine.jpeg" width="40"> </td> <td style="background-color: aliceblue;"> </td> <td> </td>  <td> <i> <u> </u> </i> </td> <td> <b> </b> </td>
        </tr>
        

    </table>
</body>
</html>